*{
    margin: 0;
    padding: 0;
}
body{
    height: 100vh;
    display: flex;
    justify-content: space-between;
    background: white;
}
.rec-outfits_text{
    position: relative;
    top: 5vh;
    font-size: 4vh;
    padding: 0;
}

.searchbar{
    display: flex;
    flex-direction: column;
}

.cities{
    position: absolute;
    max-height: 30vh;
    width: 18vh;
    overflow: hidden;
    background: gray;
    padding: 3px;
    border-radius: 10px;
    z-index: 20;
}

.city_name{
    padding: .5vh;
    font-size: 2vh;
}
.city_name:hover{
    background: rgba(223, 0, 0, 0.397);
}

.temperature{
    display: flex;
    padding: 0px 50px;
    margin: 50px 0px;
    background: linear-gradient(rgb(238, 238, 238),rgb(255, 255, 255));
    justify-content: center;
    flex-direction: column;
    align-items: center;
    font-family: sans-serif;
    color: black;
    border-radius: 100px;
    border: rgb(0, 0, 0) solid 3px;
}
.location-section{
    padding: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.location-section input{
    height: 20px;
    width: 40;
    border-radius: 10px;
    border-color: rgba(0, 0, 0, 0.356);
    outline: none;
    font-size: 16px;
}
.location-timezone{
    padding:10px;
}
#temp-icon{
    position: relative;
    padding-top: 50px;
    left: 120px;
}
.temp-degree{
    padding-bottom: 20px;
    font-size: 10vh;
}
.temp-description{
    position: relative;
    text-align: center;
    font-size: 3vh;
}
.extra-datas{
    display: flex;
    flex-direction: row;
    padding-top: 80px;
    justify-content: space-evenly;
    text-align: center;
}
.extra-name{
    padding: 10px;
    font-size: 2vh;
}

.recommended-outfits{
    position: relative;
    display: flex;
    justify-content: space-evenly;
    height: 100vh;
    width: 300px;
}
.recommended-outfits img{
    width: 10vh;
    height: 10vh;
}
.outfits-top{
    display: flex;
    flex-direction: column;
}